/* Gaya untuk Ornamen Takbir dan Orang (jika ingin ditambahkan lagi) */
    .ornament-takbir {
        position: absolute;
        top: 10%;
        left: 5%;
        width: 70px; /* Ukuran ornamen diperkecil */
        opacity: 0.2;
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
    }
    .ornament-takbir-bottom {
        position: absolute;
        bottom: 10%;
        right: 5%;
        width: 70px; /* Ukuran ornamen diperkecil */
        opacity: 0.2;
        transform: rotate(180deg);
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.1));
    }